In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display, display_html
from tqdm import tqdm

In [3]:
import sys
sys.path.append("..")
from rllib.student import student
from rllib.dp import dp
from rllib.linear_solver import linear_solver
from rllib import misc

# define student MDP

In [5]:
o = student()

## check P_s_sp_π

In [6]:
p_s_sp_π = np.einsum('sa,sta->st', o.Π, o.P)
df = pd.DataFrame(p_s_sp_π, columns=o.S, index=o.S)
df.style.apply(misc.color_positive_green, mask=p_s_sp_π, axis=None).format(precision=1)

In [7]:
np.sum(p_s_sp_π, axis=1)

array([1., 1., 1., 1., 1.])

## check Π

In [8]:
df = pd.DataFrame(o.Π, columns=o.A, index=o.S)
df.style.apply(misc.color_positive_green, mask=o.Π, axis=None).format(precision=1)

## check R

In [9]:
df = pd.DataFrame(o.R, columns=o.A, index=o.S)
df.style.apply(misc.color_positive_green, mask=o.R, axis=None).format(precision=1)

In [10]:
np.einsum('sa,sa->s', o.Π, o.R)

array([-1.5, -1. ,  5.5, -0.5,  0. ])